
//Variables
$background-color: #F0F8FF;
$body-color: white;
$title-color: #4285f4;
$company-font-size: 3vw;
$shaodw-margin: 3px;
$nav-background-color: #4285f4;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

html{
  background-color: $background-color;
}
body{
  background-color: $body-color;
  margin: 4% 6% 4% 6%;
  
}
.foot{
  display: block;
  margin: 0 auto;
  background-color: $body-color;
  width: 100%;
  position: relative;
}
.headerSection{
  width: 100%;
  height: 75px;
  margin-bottom: $shaodw-margin;
}
.headerFormat{
  vertical-align: middle;
}
.companyNameSection{
  font-size: $company-font-size;
  vertical-align: middle;
  height: 100%;
  width: 50%;
  display: block;
  float: left;
  
  
}
.title{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  color: $title-color;
  
  
}
.title img{
  height:40px;
  width: 40px;
  position: relative;
  vertical-align: middle;
}
.navSection{
  text-align: right;
  position: relative;
  width: 50%;
  height: 100%;
  display: block;
  float: right;
  
  
}

.navSection li{
  display: inline;
}
.heroSection{
  width: 100%;
  height: 30%;
  position: relative;
  margin-bottom: $shaodw-margin;
}
.heroSection > img{
  height: 320px;
  width: 100%;
}
.cardSections{
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.pcard{
  width: 300px;
  height: 240px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  
  

}
.pcard:hover .button:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  
}
.pcard > .content{
  font-size: 16px;
  
  
}
.cardImage{
  text-align: center;
}

.cardImage > img{
  height: 70px;
  width: 70px;
}
.para{
  margin: 0 auto;
  width: 60%;
  text-align: center;
  font-size: 16px;
  
}

.para > p{
  text-align: left;
  margin-bottom: $shaodw-margin;
  margin-left: 5px;
  margin-right: 5px;
}



.navSection > nav > div > a {
		text-align: center;
		width: 100%;
		height: 100%;
		line-height: 75px;
		display: block;
		color: white;
		transition: background-color 0.2s ease;
		text-transform: uppercase;
}

.navSection > nav > div {
		float: right;
		width: 16.6666%;
		font-size: 1vw;
		height: 100%;
		position: relative;
		background-color:$nav-background-color;
}

.navSection > nav > div:hover > a {
		background-color: rgba(0, 0, 0, 0.1);
		cursor: pointer;
}
.foot > .iconSection{
  position: relative;
  display: inline-block;
  float: right;
  
}
.foot > .iconSection > img{
  float: right;
  height: 16px;
  width: 16px;
}
.foot > .contactSection{
  width: 50%;
  position: relative;
  display: inline-block;
}

.shadow{
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}


.button {
      display: inline-block;
      position: relative;
      width: 120px;
      height: 32px;
      line-height: 32px;
      border-radius: 2px;
      font-size: 0.9em;
      background-color: #fff;
      color: #646464;
      @include border-radius(10px);
    }
    
.button.raised {
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition-delay: 0.2s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      
      -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -webkit-transition-delay: 0.2s;
      -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      
      -moz-transition: -mox-box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -moz-transition-delay: 0.2s;
      -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    }
    
    .button.raised:active {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      transition-delay: 0s;
      
      -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition-delay: 0s;
      
      -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
      -moz-transition-delay: 0s;
    }
    
    .center {
      text-align: center;
    }
    
    .button.blue {
      background-color: $title-color;
      color: #fff;
    }
    .button > paper-ripple {
      border-radius: 2px;
      overflow: hidden;
    }
    
    





