{% extends "header.html" %}
{% block body %}
<div class="headerSection shadow">
  <div class="companyNameSection">
    
    <div class="title">
      <img class="headerFormat" src="static/car.jpg">
      <label class="headerFormat">{{name.CompanyName}}</label>
    </div>
    
  </div>
  <div class="navSection">
    
    <nav>
      <div>
        <a><span>Blog</span></a>
      </div>
      <div>
        <a><span>Company</span></a>
      </div>
      <div>
        <a><span>Products</span></a>
      </div>
      <div>
        <a><span>Home</span></a>
      </div>
    </nav>
    <!--<ul class="headerFormat">
      <li><a href="">Home</a></li>
      <li><a href="">Products</a></li>
      <li><a href="">Company</a></li>
      <li><a href="">Blog</a></li>
    </ul> -->
  </div>
  
</div> <br>
<div class="heroSection">
  <img src="static/car.jpg" class="heroImage">
</div>

<div class="cardSections">
  <div class="pcard shadow">
    <div class="content">
      <div class="cardImage"><img src="static/car.jpg"></div><br>
      <div>This an image to which i am writing text about.  This image is a great image for everyone to see.</div>
      
    </div>
  </div>
  <div class="pcard shadow">
    <div class="content">
      <div class="cardImage"><img src="static/car.jpg"></div><br>
      <div>This an image to which i am writing text about.  This image is a great image for everyone to see.</div>
      
    </div>
  </div>
  <div class="pcard shadow">
    <div class="content">
      <div class="cardImage"><img src="static/car.jpg"></div><br>
      <div>This an image to which i am writing text about.  This image is a great image for everyone to see.</div>
      
    </div>
  </div>
</div>
<div class="para shadow center">
  
  <p>This is my longest text.  This is just some example text that is being used to fill in the space of this paragraph. I need to make this long and full of sentences so that it actually forms a paragraph. I guess I could also button mash the keyboard many times to get a bunch of strings that could maybe look something like a paragraph.  However, I much rather do this. People like to read words.  So here it is. Plently of words to read about nothing.  Nothing at all.  I bet the amount of grammar and spelling mistakes in here would make my 3rd grade teacher roll over in her grave.  Not that she is dead, or that I actually remember who my third grade spelling teacher is. :)</p>
  <p> ALright so turns out im vary cool with button mashing. da6sh6fdahsfjas6dhjash sad6h asd6khg asfhg jafh s6j hgfja6ds gfa sgjafh gjas6f gh6jsfa hgas6jf gjaf6s gjsf6ah 6jshg fsa6jh gas hgjasa6g afh gafj gjf 6shg jfs6hg f</p>
</div> <br>

<div class="foot">
  <div class="contactSection">
    <div class="button blue">
      <div class="center" fit>CONTACT</div>
      <paper-ripple fit></paper-ripple>
    </div>
  </div>
  <div class ="iconSection">
    <img src="static/fb.png">
    <img src="static/twit.png">
  </div>
</div>
{% endblock %}